main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >h1 {
        font-size: 96px;
        padding-bottom: 8px;
        color: darkred;
    }
    
    >h3 {
        font-size: 24px;
        padding-bottom: 64px;
        color: #675E54;
        >img {
            width: 24px;
            height: 24px;
        }
    }

}