<main>
    <h1 class="FontRalewayBold">OUR MENU</h1>
    <section>
        <img src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
        <span>
            <h5 class="FontEconomicaBold">Tonkotsu Ramen</h5>
            <div class="FontRalewayBold">
                <p><i>CHICKEN</i><i>11.95€</i></p>
                <p><i>CHICKEN</i><i>12.95€</i></p>
                <p><i>SHRIMP</i><i>13.95€</i></p>
            </div>
        </span>
    </section>
    <section class="specialKid">
        <img src="../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        <span>
            <h5 class="FontEconomicaBold">Spicy Miso Ramen</h5>
            <div class="FontRalewayBold">
                <p><i>CHICKEN</i><i>11.95€</i></p>
                <p><i>BEEF</i><i>12.95€</i></p>
                <p><i>SHRIMP</i><i>13.95€</i></p>
            </div>
        </span>
    </section>
    <section>
        <img src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
        <span>
            <h5 class="FontEconomicaBold">Shio Ramen</h5>
            <div class="FontRalewayBold">
                <p><i>CHICKEN</i><i>11.95€</i></p>
                <p><i>BEEF</i><i>12.95€</i></p>
                <p><i>SHRIMP</i><i>13.95€</i></p>
            </div>
        </span>
    </section>
</main>