@import './../../../styles.scss';

main {	
    background-image: url("../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    >h1 {
        font-size: 80px;
        color: #9F0908;
        padding-top: 120px;
        padding-bottom: 64px;
    }

    >section {
        padding-bottom: 56px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        >img {
            display: flex;
            width: 352px;
            height: 352px;
            margin-right: 80px;
        }

        >span {
            width: 100%;
            >h5 {
                font-size: 56px;
            }

            >div {
				
                >p {
                    color: #675E54;
                    font-size: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    >i {
						font-style: unset !important;
                    }
                }
            }
        }
    }
}

.specialKid {
	flex-direction: row-reverse !important;

	>img {
		margin: unset !important;
		margin-left: 80px !important;
	}

	>span {
	}
}