<main>
    <h1 class="FontRalewayBold">HOW TO ORDER</h1>
    <section>
        <div>
            <img src="../../../assets/img/2_section_how_to_order/SVG/noodle.svg" alt="">
            <h3 class="FontEconomicaBold"><p class="no">Pick your</p> noodle</h3>
        </div>
        <div>
            <img src="../../../assets/img/2_section_how_to_order/SVG/broth.svg" alt="">
            <h3 class="FontEconomicaBold"><p class="no">Pick your</p> broth</h3>
        </div>
        <div>
            <img src="../../../assets/img/2_section_how_to_order/SVG/egg.svg" alt="">
            <h3 class="FontEconomicaBold"><p class="no">Add your</p> toppings</h3>
        </div>
    </section>
</main>